<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UFT-8">
        <title>{% block title %} Projet Génie Logiciel {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    </head>

    <body>
        <header class="header">
            <div class="container header-content">
                <div class="logo">
                    Projet SNCF
                </div>
                <nav class="nav">
                    <a href="/" class="nav-link">Accueil</a>
                    <a href="/carte" class="nav-link">Carte</a>
                    <a href="/gare" class="nav-link">Gares</a>
                    <a href="/chiffre" class="nav-link">Chiffres</a>
                </nav>
            </div>
        </header>

        <main class="main-content">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer">
            <div class="container footer-content">
                <p>&copy; 2026 Cours Génie Logiciel</p>
            </div>
        </footer>

    </body>
</html>